label {
  color: var(--dark-secondary);
}

.form-container {
  color: var(--dark-primary);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.8);
  padding: 5em;
}

@media screen and (max-width: 648px) {
  .form-container {
    padding: 3em;
  }
}

h3,
p {
  color: var(--light-primary);
}

h3 {
  font-weight: bold;
}

.container {
  background-color: var(--dark-secondary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 4em;
}

.btn {
  padding: 1.2em;
  border-radius: 100em;
}

.btn-primary:hover {
  background-color: var(--secondary-hover);
  border: 1px solid var(--secondary-hover);
}

.close {
  color: var(--light-primary);
  font-size: 2em;
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  top: 0.2em;
  right: 0.4em;
  padding: 1em;
}

.close:focus {
  border: none;
  box-shadow: none;
}

.signup-message {
  margin-top: 1.6em;
}

.open-signup {
  color: rgb(0, 132, 255);
  font-weight: bold;
  cursor: pointer;
}

input {
  font-weight: 700;
}

.modal-content {
  background-color: none;
}

.invalid-login-msg {
  color: var(--primary);
  font-weight: 600;
}

.error-tag {
  right: 0.8em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
  font-size: 1.4em;
}

.error-border {
  box-shadow: 0 0 0 0.3em rgba(235, 48, 73, 0.5);
}
